<div class="row">
  <div class="col-md-12">
    <h1>Vectron X-17 Wrist Computer</h1>
  </div>
</div>

<div class="row well well-lg">
  <div class="col-md-6">
    <h2>The Latest in Wearable Technology</h2>
    <p class="lead">Access all your files and communication apps
  		from a touchscreen with holo-projector.</p>
    <%= link_to "Register Now", new_user_path, class: "btn btn-lg btn-primary"  %>
  </div>
  <div class="col-md-6 hidden-sm hidden-xs">
    <%= image_tag("wrist_computer.jpg", class: "img-responsive") %>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-4 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
    <i class="glyphicon glyphicon-briefcase"></i>
    <h3>Book Today!</h3>
    <p>Even if you're traveling tomorrow, 
    	you can book right now and </p>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-6">
  	<i class="glyphicon glyphicon-random"></i>
  	<h3>Go Anywhere</h3>
  	<p>If you need to get to Starfleet today</p>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-6">
  	<i class="glyphicon glyphicon-send"></i>
  	<h3>RocketCar</h3>
  	<p>For cheapest fares, catch the</p>
  </div>
</div>
