@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  a {
    color: #fff;
  }
}

.glyphicon {
  font-size: 32px;
}



footer {
  background-color: #4d4d4d;
  color: #fff;
}
